.process-new-container {
  width: 100%;
  min-height: 100%;
}

.process-new-content {
  margin: 1em 0;
}

.process-new-content {
  display: flex;
  flex-direction: column;
}

.form-row {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.25em 0;
  margin: 0.5em 0;
}
.form-column {
  width: 50%;
}

.form-footer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
