main.default-container {
  width: 100%;
  padding: 1em 3em;
  min-height: 100%;
}

@media screen and (max-width: 390px) {
  main.default-container {
    width: 95%;
    padding: 1em 0;
    margin: 0 auto;
  }
} ;
