.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-group > * + * {
  margin: 0.5em 0 0 0;
}

div.input-group > input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--color-black-54);
}

div.input-group > textarea {
  resize: vertical;
  overflow: auto;
  border: none;
  border-bottom: 2px solid var(--color-black-54);
}
