.details-container {
  width: 100%;
  padding: 1em 3em;
  min-height: 100%;
}

.process-bar {
  display: flex;
  gap: 2em;
}

.details-content {
  margin: 2em 0;
  display: flex;
  gap: 1%;
}

.details-content__left {
  width: 39%;
}

.details-content__right {
  width: 59%;
}
