div.modal-container {
  width: 100%;
  min-height: 100%;
}

div.modal-content {
  margin: 1em 0;
}

div.modal-content {
  display: flex;
  flex-direction: column;
}

div.form-row,
form.form-row {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.25em 0;
  margin: 0.5em 0;
}

div.form-column {
  width: 50%;
}

@media screen and (max-width: 540px) {
  div.form-row,
  form.form-row {
    flex-direction: column;
  }
  div.form-column {
    width: 100%;
  }
}

div.form-footer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width: 540px) {
  div.form-footer {
    flex-direction: column;
    padding: 2em 0;
    gap: 2em;
  }
}
