div.list-container {
  width: 100%;
  margin: 1em 0;
}

div.list-container > h2 {
  margin-bottom: 0.25em;
}

div.list-container > span {
  color: inherit;
  font-size: inherit;
}

ul.list-items {
  width: 100%;
  max-height: 140px;
  list-style: none;
  overflow: auto;
  margin: 0;
  padding: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

ul.list-items > li {
  width: 50%;
  min-width: 320px;
  display: block;
  line-height: 1.75em;
}

ul.list-items > li:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

/* delete button */
button.delete-button {
  display: none;
  padding: 0 0.5em;
  margin-left: 0.75em;
  border: none;
  background: none;
  cursor: pointer;
}

button.delete-button > span {
  font-size: 1rem;
  color: inherit;
}

ul.list-items > li:hover > button.delete-button {
  display: inline-block;
}
