:root {
  --color-primary: hsl(203, 100%, 29%);
  --color-black-87: hsl(0, 0%, 13%);
  --color-black-54: hsl(0, 0%, 46%);
  --color-black-38: hsl(0, 0%, 62%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline-color: var(--color-primary);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  font-weight: bold;
  color: var(--color-primary);
}

/* Guideline global styles setup */

.global-headline {
  font-family: inherit;
  font-size: 24px;
  font-weight: normal;
}

.global-title {
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
}

.global-subtitle,
.global-btn-label {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
}

.textcolor-primary {
  color: var(--color-primary);
}

.textcolor-black-87 {
  color: var(--color-black-87);
}
.textcolor-black-54 {
  color: var(--color-black-54);
}
.textcolor-black-38 {
  color: var(--color-black-38);
}
