button.search-bar__button {
  background: none;
  border: none;
  cursor: pointer;
}

div.search-bar {
  display: flex;
  width: 100%;
  min-width: 290px;
  max-width: 540px;
  border: 1px solid var(--color-black-38);
  border-radius: 3px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

input.search-bar__field {
  flex-grow: 1;
  border: none;
  padding: 0.75em 1em;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
