div.header-bar {
  display: flex;
}

div.header-bar > * + * {
  margin: 0 0 0 2em;
}

@media screen and (max-width: 640px) {
  div.header-bar {
    flex-direction: column;
  }

  div.header-bar > * + * {
    margin: 2em 0 0 0;
  }
}

a.header-link {
  text-decoration: none;
  color: inherit;
}
