.process-card {
  border: 1px solid var(--color-black-38);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  margin-bottom: 1.5em;

  display: grid;
  grid-template-columns: 100px repeat(4, minmax(120px, 22%));
  column-gap: 1em;
  align-items: center;

  overflow: hidden;
  cursor: pointer;
}

.process-card__img {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.process-card__img img {
  max-width: 100%;
}

.process-card__info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.process-card__info span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
