article.card {
  width: 100%;
  min-height: 120px;
  border: 1px solid var(--color-black-38);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

article.card > * + * {
  margin: 0 0 0 2em;
}

@media screen and (max-width: 790px) {
  article.card,
  article.card.selected {
    overflow: auto;
  }
}

article.card.selected {
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
}

div.card__img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  overflow: hidden;
}

div.card__img > img {
  max-width: 100%;
}

div.card__full {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

div.card__full > * + * {
  margin: 0 0 0 1em;
}

div.card__small {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0.5em;
}
