aside.detail-box-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
  border: 1px solid var(--color-black-38);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

div.detail-header {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

@media screen and (max-width: 470px) {
  div.detail-header {
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
  }

  div.detail-footer {
    width: 100%;
    display: flex;
    gap: 0.2em;
  }
}

div.detail-img {
  min-width: 120px;
  width: 120px;
  min-height: 120px;
  height: 120px;
  overflow: hidden;
}

div.detail-img > img {
  width: 100%;
}

div.detail-data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
div.detail-data > div.detail-info {
  min-width: 40%;
  margin-right: 2em;
}

div.detail-data > .detail-info > h2 {
  margin-bottom: 0.25em;
}

div.detail-data > div.detail-info:last-child {
  margin-right: 0;
}

div.detail-footer {
  margin-top: 2em;
  align-self: flex-end;
}
