section.process-content {
  margin: 2em 0;
  display: flex;
  gap: 1em;
}

div.process-content__full {
  width: 100%;
}

div.process-content__left {
  width: 39%;
}

div.process-content__right {
  width: 59%;
}
