section.process-content {
  margin: 2em 0;
  width: 100%;
  display: flex;
}

section.process-content > * + * {
  margin: 0 0 0 1em;
}

div.process-content__left {
  width: 100%;
}

div.process-content__right {
  width: 160%;
}

@media screen and (max-width: 720px) {
  section.process-content {
    flex-direction: column-reverse;
  }
  section.process-content > * + * {
    margin: 0 0 1em 0;
  }

  div.process-content__right {
    width: 100%;
  }
}
