.close-btn {
  float: right;
  height: 36px;
  background-color: transparent;
  padding: 0.25em;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 470px) {
  .close-btn {
    position: absolute;
    top: 0;
    right: 10px;
  }
} ;
